.container{
    background-color: black;
    
    position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
    
          
}


th{
    
    background-color: black;
    color: aliceblue;
        font-size: 20px;
  
}
.card-title{
    background-color: black;
    color: aliceblue;

}
.btn btn-primary{
    background-color: darkgoldenrod;
    color: black;
}