.container{
    background-color: white;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: black;
         
}
.jumbotron {

    background-image: url(images/hogwarts2.jpg);
    padding-bottom: 50px;
    background-size: 170%; 
    background-repeat: round;
    border-bottom: 5px;
    padding: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
    font-size: 40px;
} 


/* #subheader{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white; 
} */
th{
    
    background-color: black;
    color: aliceblue;
        font-size: 20px;
  
}
.card-title{
    background-color: black;
    color: aliceblue;

}
.btn btn-primary{
    background-color: darkgoldenrod;
    color: black;
}